{% extends "layouts/root.html" %}

{% block body %}
<main class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <form action="{{ URLROOT }}/auth/login" method="post" class="max-w-sm w-full flex flex-col gap-4">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Sign in to your account
      </h2>
    </div>
    <div>
      <label class="flex flex-col">
        <span>Email</span>
        <input type="email" name="email" placeholder="Type here" class="input input-bordered input-primary w-full" />
      </label>
      <label class="flex flex-col">
        <span>Password</span>
        <input type="password" name="password" placeholder="Type here"
          class="input input-bordered input-primary w-full" />
    </div>
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
  </form>
</main>
{% endblock %}